workflow-secretario-FINAL.json
{
    "name": "Secretario Telegram PROD - WORKING",
    "nodes": [
        {
            "parameters": {
                "updates": [
                    "message"
                ],
                "additionalFields": {}
            },
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1.1,
            "position": [
                240,
                300
            ],
            "id": "telegram-trigger",
            "name": "Telegram Trigger",
            "credentials": {
                "telegramApi": "Sendia secretario"
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "a1",
                            "name": "text",
                            "type": "string",
                            "value": "={{ $json.message.text || $json.message.caption || '' }}"
                        },
                        {
                            "id": "a2",
                            "name": "chatId",
                            "type": "string",
                            "value": "={{ $json.message.chat.id }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                460,
                300
            ],
            "id": "map-input",
            "name": "Map Input"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Mensaje: {{ $json.text }}",
                "options": {
                    "systemMessage": "Eres el asistente de SendaIA. DEVUELVE SIEMPRE JSON:\n{\n  \"intent\": \"create_lead|unknown\",\n  \"data\": {\"full_name\": \"\", \"phone\": \"\", \"email\": \"\"},\n  \"reply\": \"\"\n}\n\nSi el usuario da nombre + teléfono/email → intent=create_lead.\nSino → intent=unknown, reply con saludo."
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                680,
                300
            ],
            "id": "ai-agent",
            "name": "AI Agent"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "mode": "list",
                    "value": "gpt-4o-mini"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.2,
            "position": [
                680,
                480
            ],
            "id": "openai-model",
            "name": "OpenAI Model",
            "credentials": {
                "openAiApi": "OpenAi account"
            }
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $node['Map Input'].json.chatId }}"
            },
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.2,
            "position": [
                880,
                480
            ],
            "id": "simple-memory",
            "name": "Simple Memory"
        },
        {
            "parameters": {
                "jsCode": "const raw = $json.output;\nlet parsed;\ntry { parsed = typeof raw === 'object' ? raw : JSON.parse(raw); } catch(e) { parsed = null; }\nif (!parsed || !parsed.intent) {\n  return [{ intent: 'unknown', data: {}, reply: 'No entendí. ¿Quieres crear un lead?' }];\n}\nreturn [parsed];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                300
            ],
            "id": "normalize-json",
            "name": "Normalize JSON"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.intent }}",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equal"
                                        },
                                        "rightValue": "create_lead"
                                    }
                                ]
                            },
                            "renameOutput": true,
                            "outputKey": "create_lead"
                        }
                    ]
                },
                "options": {
                    "fallbackOutput": 1
                }
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.2,
            "position": [
                1120,
                300
            ],
            "id": "route-intent",
            "name": "Route Intent"
        },
        {
            "parameters": {
                "url": "https://rudolmemxsugxmcbvrwe.supabase.co/rest/v1/clients?select=id&phone=eq.={{ $node['Normalize JSON'].json.data.phone }}&limit=1",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYxNzMzNCwiZXhwIjoyMDg2MTkzMzM0fQ.As1mEEtdHfWobHGFrkNlFURogj6mNU356KMTEKqufvg"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYxNzMzNCwiZXhwIjoyMDg2MTkzMzM0fQ.As1mEEtdHfWobHGFrkNlFURogj6mNU356KMTEKqufvg"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1340,
                200
            ],
            "id": "check-client",
            "name": "Check Client"
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ Array.isArray($json) && $json.length > 0 }}",
                            "value2": true
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1560,
                200
            ],
            "id": "if-exists",
            "name": "IF Exists"
        },
        {
            "parameters": {
                "url": "https://rudolmemxsugxmcbvrwe.supabase.co/rest/v1/clients",
                "method": "POST",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "first_name",
                            "value": "={{ ($node['Normalize JSON'].json.data.full_name || '').split(' ')[0] }}"
                        },
                        {
                            "name": "last_name",
                            "value": "={{ ($node['Normalize JSON'].json.data.full_name || '').split(' ').slice(1).join(' ') || 'Lead' }}"
                        },
                        {
                            "name": "phone",
                            "value": "={{ $node['Normalize JSON'].json.data.phone }}"
                        },
                        {
                            "name": "email",
                            "value": "={{ $node['Normalize JSON'].json.data.email || null }}"
                        },
                        {
                            "name": "status",
                            "value": "lead"
                        },
                        {
                            "name": "source",
                            "value": "telegram"
                        }
                    ]
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYxNzMzNCwiZXhwIjoyMDg2MTkzMzM0fQ.As1mEEtdHfWobHGFrkNlFURogj6mNU356KMTEKqufvg"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYxNzMzNCwiZXhwIjoyMDg2MTkzMzM0fQ.As1mEEtdHfWobHGFrkNlFURogj6mNU356KMTEKqufvg"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1780,
                300
            ],
            "id": "create-client",
            "name": "Create Client"
        },
        {
            "parameters": {
                "chatId": "={{ $node['Map Input'].json.chatId }}",
                "text": "={{ $json.intent === 'create_lead' ? '✅ Lead guardado en el CRM!' : ($node['Normalize JSON'].json.reply || 'Hecho.') }}",
                "additionalFields": {}
            },
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                2000,
                300
            ],
            "id": "send-telegram",
            "name": "Send Telegram",
            "credentials": {
                "telegramApi": "Sendia secretario"
            }
        }
    ],
    "connections": {
        "Telegram Trigger": {
            "main": [
                [
                    {
                        "node": "Map Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Map Input": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Normalize JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Simple Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize JSON": {
            "main": [
                [
                    {
                        "node": "Route Intent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Route Intent": {
            "main": [
                [
                    {
                        "node": "Check Client",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Send Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Client": {
            "main": [
                [
                    {
                        "node": "IF Exists",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Exists": {
            "main": [
                [
                    {
                        "node": "Send Telegram",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Create Client",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Client": {
            "main": [
                [
                    {
                        "node": "Send Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 1,
    "updatedAt": "2026-02-10T16:50:00.000Z",
    "versionId": "1"
}